<main data-ui-component="Spacialists">

  <div class="c-panel u-margin-top-huge u-text-center">

    <div class="o-wrapper">
      <h1 class="c-article__title u-margin-bottom-none">John Doe</h1>
      <h2 class="c-article__subtitle u-margin-bottom-none">
        Psycholog, psychoterapeuta, psychiatra
      </h2>
    </div>

  </div>

  <div class="c-panel">

    <div class="o-wrapper">

      <div class="o-layout o-layout--center">

        <div class="o-layout__item u-1/1 u-3/5@desktop">

          <div class="c-article">
            <img class="c-article__image" src="../images/face-03.jpg" alt="">
            <img src="../images/account.png" alt="">
            <img src="../images/ilona-lasota.jpg" alt="">
            <img src="../images/renata-zagozdzon.jpg" alt="">
            <img src="../images/agnieszka-lenartowicz.jpg" alt="">
            <p class="c-article__content c-article__content--prominent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perferendis, sed ea sit aut, tempora magni, autem excepturi quae commodi aspernatur sapiente quod consectetur est eum voluptatem delectus distinctio laboriosam nulla sunt, placeat error soluta dicta ipsam! Tenetur officiis officia, rerum laboriosam nobis adipisci, totam ipsam provident, beatae, ex earum.</p>
            <p class="c-article__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora error eum inventore praesentium provident. Sed, voluptas quod asperiores enim aut id facere voluptatibus sapiente consequatur nostrum autem dignissimos eius amet minima fuga quam rerum vel maiores molestiae, pariatur atque maxime nulla perferendis? Corporis enim minus fugit aliquam voluptates quae veniam porro sed, omnis! Neque vitae officiis eaque ipsa eum facilis provident repellat suscipit magnam recusandae libero quaerat quae nam eius quam voluptatibus maxime, esse distinctio voluptates cum adipisci voluptatum minus! Quas, repellendus commodi temporibus ipsam fugit error enim, qui. Non optio tempora consequatur, nemo provident aspernatur sed enim perspiciatis quas eveniet corporis quisquam aliquid ratione libero quo cumque natus beatae recusandae magnam dolores. Error enim saepe deleniti vel temporibus fugiat.</p>
            <p class="c-article__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, nisi fugit, inventore doloribus, culpa modi reprehenderit perferendis non praesentium autem repellat ullam labore magni ipsam debitis. Optio, iste neque at inventore debitis officiis ullam et eius cumque nisi laboriosam vero aliquid in natus, accusantium voluptatem eos fuga, voluptatum ducimus alias asperiores blanditiis deleniti, ratione excepturi. Molestias at, quam nobis omnis placeat. Debitis, sapiente nesciunt adipisci, aliquam deserunt alias fugit numquam odio ad! Laboriosam error rem delectus deleniti, soluta minima dolor?</p>
          </div>
        </div>

      </div>


    </div>



</main>