<main data-ui-component="e-registration" data-page="registration" class="js-main">

  {{!--<iframe src="http://sotostrowiec.duckdns.org/portal" frameborder="0" width="100%"></iframe>--}}
  
  <iframe src="http://sotostrowiec.duckdns.org/portal" 
    frameborder="0" width="100%" class="c-iframe u-margin-top-huge u-padding-bottom-huge">
  </iframe>

</main>