<footer>

  <div class="c-panel c-panel--light c-panel--large@tablet">

    <div class="o-wrapper">

      <div class="o-layout">

        <div class="o-layout__item u-1/1 u-1/2@tablet u-1/4@desktop">
          <h4 class="u-h6 u-margin-bottom-tiny">O nas</h4>
          <p>
            Jesteśmy zespołem psychiatrów, psychologów oraz terapeutów. Oferujemy konsultacje psychiatryczne i psychologiczne. Prowadzimy psychoterapię indywidualną, grupową, rodzinną oraz wizyty środowiskowe. Pomagamy osobom poszukującym: wsparcia, porady i rozmowy.
          </p>
        </div>

        {{#with links}}

          <div class="o-layout__item u-1/1 u-1/2@tablet u-1/4@desktop">
            <h4 class="u-h6 u-margin-bottom-tiny">Świętokrzyski Ośrodek Terapii</h4>
            <ul class="o-list-bare">
              <li><a href="{{[Strona główna]}}">Strona główna</a></li>
              <li><a href="{{[Poradnie]}}">Poradnie</a></li>
              <li><a href="{{[Specjaliści]}}">Specialiści</a></li>
                <ul class="o-list-bare u-margin-left u-margin-bottom-none">
                  <li>
                    <a href="{{[Poradnia zdrowia psychicznego]}}">
                      Poradnia zdrowia psychicznego
                    </a>
                  </li>
                  <li>
                    <a href="{{[Poradnia psychologiczna]}}">
                      Poradnia psychologiczna
                    </a>
                  </li>
                  <li>
                    <a href="{{[Poradnia uzależnień]}}">
                      Poradnia uzależnień
                    </a>
                  </li>
                  <li>
                    <a href="{{[Zespół leczenia środowiskowego]}}">
                      Zespół leczenia środowiskowego
                    </a>
                  </li>
                </ul>
              <li><a href="{{[Kontakt]}}">Kontakt</a></li>
            </ul>
          </div>

          <div class="o-layout__item u-1/1 u-1/2@tablet u-1/4@desktop">
            <h4 class="u-h6 u-margin-bottom-tiny">Przydatne link</h4>
            <ul class="o-list-bare">
              <li><a href="{{[Specjaliści]}}">Psycholog Ostrowiec Św.</a></li>
              <li><a href="{{[Specjaliści]}}">Psychoterapeuta Ostrowiec Św.</a></li>
              <li><a href="{{[Specjaliści]}}">Psychiatra Ostrowiec Św.</a></li>
            </ul>
          </div>

        {{/with}}

        <div class="o-layout__item u-1/1 u-1/2@tablet u-1/4@desktop">
          <h4 class="u-h6 u-margin-bottom-tiny">Kontakt</h4>
          {{#each contact}}
            <ul class="o-list-bare">
              <li>{{name}}</li>
              {{#each address}}
                <li>{{this}}</li>
              {{/each}}
              {{#each numbers}}
                <li><a href="tel:+48-{{this}}">{{this}}</a></li>
              {{/each}}
            </ul>
          {{/each}}
        </div>

      </div>

    </div>

  </div>

  <div class="c-panel c-panel--dark c-panel--small">

    <div class="o-wrapper">
      <p class="u-text-center u-margin-bottom-none">
        <small>&copy; Copyright Świętokrzyski Ośrodek Terapii 2017. Wszystkie
          prawa zastrzeżone. Made by Piotr Lasota</small>
      </p>
    </div>

  </div>

</footer>