<main data-ui-component="Main content" data-page="landing" class="js-main">


  <article class="c-hero c-hero--landing" data-ui-component="Page Hero">

    <div class="o-wrapper c-hero__wrapper">

      <div class="c-hero__content">
        <h2 class="c-hero__title">
          Świętokrzyski<br> Ośrodek Terapii
        </h2>
        <h1 class="c-hero__sub-title">
          Psychiatra, psycholog,<br> psychoterapeuta
        </h1>
        <a href="#poradnie" class="c-btn c-btn--primary js-clinics-btn">Dowiedz się więcej</a>
      </div>

    </div>

  </article>

  <article id="poradnie"
    class="c-panel c-panel--border-bottom c-panel--small c-panel--very-light">

    <div class="o-wrapper">

      <div class="o-flex o-flex--wrap o-flex--align-items-center o-flex--justify-content-center">
        <img src="../images/NFZ_logo.svg" alt="NFZ logo" style="height: 70px"
          class="u-margin-vertical">
        <h2 class="u-h3 u-text-weight-light u-text-center u-margin-bottom-tiny">
          Pacjenci przyjmowani są bezpłatnie, w ramach kontraktu z NFZ.
        </h2>
      </div>

    </div>

  </article>


  <div class="c-panel c-panel--huge@tablet c-panel--very-light">

    <div class="o-wrapper">

      <section class="o-layout" data-ui-component="Features">

        {{#each clinics}}

          <article class="o-layout__item u-1/1 u-1/2@tablet u-1/4@wide" data-ui-component="Feature">

            <div class="o-block o-block--tiny">
              <div class="o-block__img">
                <svg class="c-icon c-icon--huge" viewBox="0 0 24 24">
                  {{{icon}}}
                </svg>
              </div>
              <div class="o-block__body">
                <h3 class="u-h4"><a href="{{link}}">{{name}}</a></h3>
                <p>{{aboutSummary}}</p>
              </div>
            </div>

          </article>

        {{/each}}

      </section>

    </div>

  </div>


  <div class="c-panel c-panel--light c-panel--flush">

    <div class="o-wrapper o-wrapper--flush">

      <article class="o-layout o-layout--middle c-our-team">

        <div class="o-layout__item u-1/1 u-1/2@tablet">
          <div class="c-our-team__image" style="height: 400px;"></div>
        </div>

        <div class="o-layout__item
                    u-1/1 u-1/2@tablet
                    u-text-center u-text-left@tablet">
            <div class="o-box o-box--normal">
              <h4 class="u-h3">Nasz zespół</h3>
              <p>
                Jesteśmy zespołem psychiatrów, psychologów oraz terapeutów. Oferujemy konsultacje psychiatryczne i psychologiczne. Prowadzimy psychoterapię indywidualną, grupową, rodzinną oraz wizyty środowiskowe. Pomagamy osobom poszukującym: wsparcia, porady i rozmowy.
              </p>
              <a href="specialists.html" class="c-btn c-btn--primary c-btn--ghost">
                Zobacz cały zespół
              </a>
            </div>

        </div>

      </aritcle>

    </div>

  </div>


  <section class="c-panel c-panel--large c-panel--huge@tablet c-panel--very-light"
    data-ui-component="Call To Action">

    <div class="o-wrapper">

      <div class="o-layout o-layout--center">

        <div class="o-layout__item u-1/1 u-3/4@tablet u-2/3@desktop">

          <div class="c-cta">

            <h3 class="c-cta__header">
              Zapraszamy do kontaktu w celu umówienia wizyty
            </h3>
            <a href="contact.html" class="c-btn  c-btn--primary">Umów się na wizytę</a>

          </div>

        </div>

      </div>

    </div>

  </section>

</main>