<main data-ui-component="Spacialists">

  <div class="c-panel u-margin-top-huge u-text-center">

    <div class="o-wrapper">
      <h1 class="u-margin-bottom-none">Nasi specjaliści</h1>
    </div>

  </div>

  <div class="c-panel">

    <div class="o-wrapper o-wrapper--flush">


      <section class="o-flex o-flex--wrap o-flex--justify-content-around">

        <article class="o-flex__child o-box o-box--small o-box--normal@tablet c-card u-margin-bottom-large u-margin-horizontal-small">

          <div class="o-block o-block--left">

            <a class="o-block__img o-crop o-crop--4:3" href="john-doe.html">
              <img
                class="o-crop__content o-crop__content--center o-crop__content--fill"
                src="../images/face-03.jpg"
                alt="">
            </a>

            <div class="o-block__body">
              <h2 class="c-card__title">John Doe</h2>
              <h3 class="c-card__subtitle">Psycholog, psychoterapeuta, psychiatra</h3>
              <p class="c-card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, consequuntur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aliquid excepturi error hic necessitatibus deleniti mollitia quaerat eligendi sapiente, sint!</p>
              <a href="/john-doe.html" class="c-btn c-btn--primary c-btn--ghost c-btn--small">
                + więcej informacji
              </a>
            </div>

          </div>

        </article>

        <article class="o-flex__child o-box o-box--small o-box--normal@tablet c-card u-margin-bottom-large u-margin-horizontal-small">

          <div class="o-block o-block--left">

            <div class="o-block__img o-crop o-crop--4:3">
              <img
                class="o-crop__content o-crop__content--center o-crop__content--fill"
                src="../images/face-03.jpg"
                alt="">
            </div>

            <div class="o-block__body">
              <h2 class="c-card__title">Agnieszka Maj-Lenartowicz</h2>
              <h3 class="c-card__subtitle">Psycholog, psychoterapeuta</h3>
              <p class="c-card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aliquid excepturi error hic necessitatibus deleniti mollitia quaerat eligendi sapiente, sint!</p>
              <a href="#" class="o-flex__child c-btn c-btn--primary c-btn--ghost c-btn--small">
                + więcej informacji
              </a>
            </div>

          </div>

        </article>

        <article class="o-flex__child o-box o-box--small o-box--normal@tablet c-card u-margin-bottom-large u-margin-horizontal-small">

          <div class="o-block o-block--left">

            <div class="o-block__img o-crop o-crop--4:3">
              <img
                class="o-crop__content o-crop__content--center o-crop__content--fill"
                src="../images/face-03.jpg"
                alt="">
            </div>

            <div class="o-block__body">
              <h2 class="c-card__title">Agnieszka Maj-Lenartowicz</h2>
              <h3 class="c-card__subtitle">Psycholog, psychoterapeuta</h3>
              <p class="c-card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aliquid excepturi error hic necessitatibus deleniti mollitia quaerat eligendi sapiente, sint!</p>
              <a href="#" class="o-flex__child c-btn c-btn--primary c-btn--ghost c-btn--small">
                + więcej informacji
              </a>
            </div>

          </div>

        </article>

        <article class="o-flex__child o-box o-box--small o-box--normal@tablet c-card u-margin-bottom-large u-margin-horizontal-small">

          <div class="o-block o-block--left">

            <div class="o-block__img o-crop o-crop--4:3">
              <img
                class="o-crop__content o-crop__content--center o-crop__content--fill"
                src="../images/face-03.jpg"
                alt="">
            </div>

            <div class="o-block__body">
              <h2 class="c-card__title">Agnieszka Maj-Lenartowicz</h2>
              <h3 class="c-card__subtitle">Psycholog, psychoterapeuta</h3>
              <p class="c-card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aliquid excepturi error hic necessitatibus deleniti mollitia quaerat eligendi sapiente, sint!</p>
              <a href="#" class="o-flex__child c-btn c-btn--primary c-btn--ghost c-btn--small">
                + więcej informacji
              </a>
            </div>

          </div>

        </article>

        <article class="o-flex__child o-box o-box--small o-box--normal@tablet c-card u-margin-bottom-large u-margin-horizontal-small">

          <div class="o-block o-block--left">

            <div class="o-block__img o-crop o-crop--4:3">
              <img
                class="o-crop__content o-crop__content--center o-crop__content--fill"
                src="../images/face-03.jpg"
                alt="">
            </div>

            <div class="o-block__body">
              <h2 class="c-card__title">Agnieszka Maj-Lenartowicz</h2>
              <h3 class="c-card__subtitle">Psycholog, psychoterapeuta</h3>
              <p class="c-card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aliquid excepturi error hic necessitatibus deleniti mollitia quaerat eligendi sapiente, sint!</p>
              <a href="#" class="o-flex__child c-btn c-btn--primary c-btn--ghost c-btn--small">
                + więcej informacji
              </a>
            </div>

          </div>

        </article>

      </section>


    </div>

  </div>



</main>