/* ==========================================================================
   #PAGE-HEAD
   ========================================================================== */

.c-page-head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;


  &.is-scrolled {
    background-color: #fff;
    border-bottom: 1px solid $color-gray--very-light;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1)
  }
}
